@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}



:root {
    --main-color: #20355B;
    --sub-color: #314f86;
    --bg-color: #1c2a46;
    --accent-color: #E7BC72;
    --text-color: #FCEEF6;
    --highlight-color: #44b4b9;
}