* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

header {
    margin-top: 40px;
    margin-bottom: 40px;
}

header nav {
    display: grid;
    grid-template-columns: 1fr 3fr 100px;
    gap: 20px;
    font-size: 20px;
}

main {
    height: auto;
}

/* Nav Links (nav > ul > li > a)*/
.navlink:link,
.navlink:visited {
    color: white;
}

header .navlink[href="#"] {
    color: #ff4714;
}

.navlink:hover {
    color: rgb(243, 153, 36);
}

.navlink:active {
    color: #9ED8DB;
}

#linkNav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: 100px; */
}

.intro-section {
    padding: 30px;
}

.name-section {
    padding: 100px 200px;
    display: inline-block;
    height: 600px;
    vertical-align: top;
}

.name-section > p {
    font-size: 36px;
    font-weight: 700;
    color: #74636c;
    font-family: "Roboto", sans-serif;
    margin-bottom: 20px;
}

.name-section h2 {
    font-size: 72px;
    color: #E7BC72;
    font-family: "Roboto", sans-serif;
}

.picture-section {
    display: inline-block;
    position: relative;
}

.sns-icon {
    display: flex;
    justify-content: start-flex;
}

.sns-icon img {
    width: 40px;
    margin-top: 20px;
    margin-right: 40px;
}

#headshot {
    position: relative;
    width: 400px;
    height: 600px;
}

#background {
    position: absolute;
    top: 100px;
    left: -50px;
    z-index: -1;
    display: inline-block;
    background-color: #314f86;
    width: 500px;
    height: 500px;
    border-radius: 50%;
}

.button-section {
    margin-top: 40px;
    margin-right: 30px;
}

.button-section button[type="submit"]:hover {
    color: #28f4ff;
    border-color: #28f4ff;
    border-width: 6px;
    box-shadow: 1px 1px 20px #87f9ff;
}

.button-section h4 {
    float: left;
    color: #74636c;
    font-family: "Roboto", sans-serif;
}

#jump-dev {
    clear: both;
    float: left;
}

#jump-coll {
    float: right;
}

#experience {
    clear: both;
    float: left;
    color: #FCEEF6;
}

#portfolio {
    float: right;
    color: #FCEEF6;
}

.button-section button[type="submit"] {
    height: 70px;
    width: 200px;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    color: #9ED8DB;
    border: 3px solid #9ED8DB;
    border-radius: 15px;
    background-color: transparent;
}

.ability-section,
.collection-section,
#form-contact {
    display: block;
    padding: 30px 30px;
    margin-top: 50px;
}

.ability-section h2,
.collection-section h2 {
    text-align: center;
    font-size: 32px;
    color: #E7BC72;
    font-family: "Roboto", sans-serif;
    margin: 30px;
}

.ablity-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 60px;
}

.skills {
    padding: 30px;
    height: 400px;
    width: 350px;
    border-radius: 30px;
    background-color: #2c477a;
}

.skill-title {
    text-align: center;
    font-size: 24px;
    color: #c49236;
    margin-bottom: 30px;
}

.skill-detail {
    font-size: 20px;
    color: #FCEEF6;
}

.collection {
    background-color: #2c477a;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 50px;
    padding: 100px;
    height: 650px;
    width: 100%;
    border-radius: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.collection img {
    width: 300px;
    height: 450px;
    border-radius: 15px;
    box-shadow: 3px 3px 8px #16233b;
}

.collection img:hover {
    box-shadow: 5px 5px 20px #16233b;
    transform: scale(1.15);
    z-index: 3;
}

.dev-title h2,
.collection-title h2,
.contact-title h2 {
    margin-top: 100px;
    font-size: 54px;
    color: #E7BC72;
    font-family: "Roboto", sans-serif;
    text-align: center;
}

.stuck-table {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: #2c477a;
    margin: 50px 100px;
    padding: 40px;
    gap: 30px;
    height: 250px;
    width: 90%;
    border-radius: 15px;
}

.languages {
    border-right: 2px solid #fceef6;
    margin-right: 20px;
}

/* delete last border */
.languages:last-child {
    border-right: none;
}

.languages h3 {
    color: #fceef6;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
}

.languages p {
    color: #fceef6;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

.experience-table {
    background-color: #2c477a;
    border-radius: 15px;
    margin: 50px 100px;
    color: #fceef6;
    width: 90%;
}

.experience-table table {
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    border-radius: 15px;
    font-size: 32px;
    border: none;
    border-collapse: separate;
    border-spacing: 0;
}

.experience-table table td,
.experience-table table th {
    text-align: center;
    padding: 8px;
    height: 80px;
}

.experience-table table tbody tr:nth-child(odd) {
    background-color: #3b5ea0;
}

.experience-table table tbody tr:first-child th:first-child {
    border-top-left-radius: 10px;
}

.experience-table table tbody tr:first-child td:last-child {
    border-top-right-radius: 10px;
}

.experience-table table tbody tr:last-child th:first-child {
    border-bottom-left-radius: 10px;
}

.experience-table table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.photographs {
    display: grid;
    grid-template-areas:
        "imageMain1 imageMain1 imageMain1 imageMain1"
        "imageSub1 imageSub1 imageSub2 imageSub2"
        ". imageMain2 imageMain2  ."
        ". imageMain2 imageMain2 ."
        "imageSub3 . . imageSub4";

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr;
    grid-gap: 80px;
    background-color: #2c477a;
    margin: 50px 100px;
    padding: 40px;
    height: 100%;
    width: 90%;
    border-radius: 15px;
}

.photographs img {
    width: 100%;
    height: auto;
    display: block;
}

#imageMain1 {
    grid-area: imageMain1;
}

#imageSub1 {
    grid-area: imageSub1;
}

#imageSub2 {
    grid-area: imageSub2;
}

#imageSub3 {
    grid-area: imageSub3;
}

#imageSub4 {
    grid-area: imageSub4;
}

#imageMain2 {
    grid-area: imageMain2;
}

#form-contact {
    display: grid;
    grid-template-areas:
        'heading heading heading heading'
        'name name detail detail'
        'email email detail detail'
        'phone phone detail detail'
        'submit submit submit submit';
    grid-gap: 20px;
    background-color: #2c477a;
    border-radius: 15px;
    width: 90%;
    margin: 2rem 5rem;
}

#form-contact h3 {
    grid-area: heading;
    color: #c49236;
}

#form-contact input[type="text"],
#form-contact input[type="email"],
#form-contact input[type="tel"] {
    width: 80%;
    height: 60px;
    background-color: #3b5ea0;
    border: none;
    border-bottom: 2px solid #c49236;
    border-radius: 10px;
    box-shadow: none;
    outline: none;
    margin-top: 10px;
}

#detail-field textarea {
    width: 80%;
    height: 90%;
    background-color: #3b5ea0;
    border: none;
    border-bottom: 2px solid #c49236;
    border-radius: 10px;
    box-shadow: none;
    outline: none;
    margin-top: 10px;
    resize: none;
}

#name-field {
    grid-area: name;
}

#email-field {
    grid-area: email;
}

#phone-field {
    grid-area: phone;
}

#detail-field {
    grid-area: detail;
}

#form-contact button[type="submit"] {
    grid-area: submit;
    margin: 50px 50px;

    width: 30%;
    height: 60px;

    background-color: #ff4714;
    color: #fceef6;
    border: none;
    border-radius: 50px;
    box-shadow: none;
    outline: none;
    justify-self: center;
    align-self: bottom;

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 24px;
}

#form-contact label {
    display: block;
    color: #fceef6;
}




footer {
    height: 150px;
    background-color: #2c477a;
    color: white;
    text-align: center;
    padding: 20px 40px 20px 40px;
}

footer nav ul {
    display: inline-block;
    margin-bottom: 15px;
}

footer nav ul li {
    display: inline-block;
    margin-right: 20px;
}

footer nav ul li:last-child {
    margin-right: 0;
}

footer span {
    margin-top: 15px;
}