

.hamburger-icon span,
.hamburger-icon::before,
.hamburger-icon::after {
    content: '';
    display: block;
    position: absolute;
    width: 1.5rem;
    /* w-6 */
    height: 0.25rem;
    /* h-1 */
    background-color: #E7BC72;
    /* accent */
    transition: all 0.3s ease-in-out;
    border-radius: 0.75rem;
    /* rounded-xl */
}

.hamburger-icon::before {
    transform: translate(-50%, -50%) translateY(-0.5rem);
    /* top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 -translate-y-2 */
}

.hamburger-icon::after {
    transform: translate(-50%, -50%) translateY(0.5rem);
    /* top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 top-2 */
}

/* menu toggle style */
.hamburger-icon.menu-open span {
    opacity: 0;
}

.hamburger-icon.menu-open::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.hamburger-icon.menu-open::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}


/* animation*/
@keyframes fadeInSlideUp {
  from {
    opacity: 0;
    transform: translateY(20px); 
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.gallery-item {
  opacity: 0; 
  animation: fadeInSlideUp 0.8s ease forwards; 
}

.gallery-item:nth-child(1) {
  animation-delay: 0.2s;
}

.gallery-item:nth-child(2) {
  animation-delay: 0.3s;
}

.gallery-item:nth-child(3) {
  animation-delay: 0.4s;
}

.gallery-item:nth-child(4) {
  animation-delay: 0.5s;
}

.gallery-item:nth-child(5) {
  animation-delay: 0.6s;
}

.gallery-item:nth-child(6) {
  animation-delay: 0.7s;
}

.gallery-item:nth-child(7) {
  animation-delay: 0.8s;
}
/* Nav Links (nav > ul > li > a)*/
.navlink:link,
.navlink:visited {
    color: white;
}

header .navlink[href="#"] {
    color: #ff4714;
}

.navlink:hover {
    color: rgb(243, 153, 36);
}

.navlink:active {
    color: #9ED8DB;
}

/* End of navlink styles */

.button-section button[type="submit"]:hover {
    color: #28f4ff;
    border-color: #28f4ff;
    border-width: 6px;
    box-shadow: 1px 1px 20px #87f9ff;
}

#experience {
    clear: both;
    float: left;
    color: #FCEEF6;
}

#portfolio {
    float: right;
    color: #FCEEF6;
}

#form-contact {
    display: block;
    padding: 30px 30px;
    margin-top: 50px;
}

.dev-title {
    margin-top: 100px;
    font-size: 54px;
    color: #E7BC72;
    font-family: "Roboto", sans-serif;
    text-align: center;
}

.stuck-table {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: #2c477a;
    margin: 50px 100px;
    padding: 40px;
    gap: 30px;
    height: 250px;
    width: 90%;
    border-radius: 15px;
}

.languages {
    border-right: 2px solid #fceef6;
    margin-right: 20px;
}

/* delete last border */
.languages:last-child {
    border-right: none;
}

.languages h3 {
    color: #fceef6;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
}

.languages p {
    color: #fceef6;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

.experience-table {
    background-color: #2c477a;
    border-radius: 15px;
    margin: 50px 100px;
    color: #fceef6;
    width: 90%;
}

.experience-table table {
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    border-radius: 15px;
    font-size: 32px;
    border: none;
    border-collapse: separate;
    border-spacing: 0;
}

.experience-table table td,
.experience-table table th {
    text-align: center;
    padding: 8px;
    height: 80px;
}

.experience-table table tbody tr:nth-child(odd) {
    background-color: #3b5ea0;
}

.experience-table table tbody tr:first-child th:first-child {
    border-top-left-radius: 10px;
}

.experience-table table tbody tr:first-child td:last-child {
    border-top-right-radius: 10px;
}

.experience-table table tbody tr:last-child th:first-child {
    border-bottom-left-radius: 10px;
}

.experience-table table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

#form-contact {
    display: grid;
    grid-template-areas:
        'heading heading heading heading'
        'name name detail detail'
        'email email detail detail'
        'phone phone detail detail'
        'submit submit submit submit';
    grid-gap: 20px;
    background-color: #2c477a;
    border-radius: 15px;
    width: 90%;
    margin: 2rem 5rem;
}

#form-contact h3 {
    grid-area: heading;
    color: #c49236;
}

#form-contact input[type="text"],
#form-contact input[type="email"],
#form-contact input[type="tel"] {
    width: 80%;
    height: 60px;
    background-color: #3b5ea0;
    border: none;
    border-bottom: 2px solid #c49236;
    border-radius: 10px;
    box-shadow: none;
    outline: none;
    margin-top: 10px;
}

#detail-field textarea {
    width: 80%;
    height: 90%;
    background-color: #3b5ea0;
    border: none;
    border-bottom: 2px solid #c49236;
    border-radius: 10px;
    box-shadow: none;
    outline: none;
    margin-top: 10px;
    resize: none;
}

#name-field {
    grid-area: name;
}

#email-field {
    grid-area: email;
}

#phone-field {
    grid-area: phone;
}

#detail-field {
    grid-area: detail;
}

#form-contact button[type="submit"] {
    grid-area: submit;
    margin: 50px 50px;

    width: 30%;
    height: 60px;

    background-color: #ff4714;
    color: #fceef6;
    border: none;
    border-radius: 50px;
    box-shadow: none;
    outline: none;
    justify-self: center;
    align-self: flex-end;

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 24px;
}

#form-contact label {
    display: block;
    color: #fceef6;
}

footer {
    height: 150px;
    background-color: #2c477a;
    color: white;
    text-align: center;
    padding: 20px 40px 20px 40px;
}

footer nav ul {
    display: inline-block;
    margin-bottom: 15px;
}

footer nav ul li {
    display: inline-block;
    margin-right: 20px;
}

footer nav ul li:last-child {
    margin-right: 0;
}

footer span {
    margin-top: 15px;
}